/* .header {
  background-color: #131921;
  display: flex;
  align-items: center;
}

.header__search {
  display: flex;
  flex: 1;
}
.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 60%;
}

.header__searchIcon {
  height: 22px !important;
  padding: 5px;
  background-color: #cd9042;
}
.header__nav {
  display: flex;
  width: 100%;
}
.header__link {
  color: white;
  text-decoration: none;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
}
.header__optionLineOne {
  font-size: 10px;
}
.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}
.header__optionBasket {
  position: absolute;
  top: 10px;
  right: 10px;
} */
/* .header__logo {
  width: 100px;
  /* height: 30px; */
/* margin-top: 18px;
  margin: 0 20px;
  object-fit: contain; 
} */
.header__logo {
  width: 10 0px;
  height: 40px;
  object-fit: contain;
}

.uy {
  background-color: black;
}
.header__optionLineOne {
  font-size: 12px;
  font-family: monospace;
}
.header__optionLineTwo {
  font-size: 14px;
  font-weight: 600;
}
.header__option {
  display: flex;
  flex-direction: column;
  /* margin: 0px 10px; */
}
.header__link {
  color: white;
  text-decoration: none;
}
.link__name {
  color: white;
  margin-right: 30px;
  font-size: 12px;
}
.wh {
  color: white !important;
}
.name {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 22px;
  font-family: cursive;
}
