.home {
  /* max-width: 1500px; */
  /* width: 100%; */
  margin-left: auto;
  margin-right: auto;
}
.home__row {
  display: flex;
  z-index: 1;
  /* margin-right: 5px;
  margin-left: 5px; */
}
.home__image {
  width: 100%;
  height: 500px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: -1;
  object-fit: cover;
  margin-bottom: -200px;
}
