.product {
  display: flex;
  flex-direction: column;
  /* max-height: 400px;
    max-width: 100px; */
  margin: 10px;
  padding: 20px;
  width: 100%;
  background-color: rgba(22, 21, 21, 0.788);
  z-index: 1;
  align-items: center;
  justify-content: flex-end;
}
.product__rating {
  display: flex;
}
.product__info {
  height: 100px;
  margin-bottom: 15px;
  color: white;
}
.product__price {
  margin-top: 5px;
  color: white;
}
.product > img {
  max-height: 150px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product > button {
  background-color: rgb(14, 14, 116);
  border: 1px solid;
  border-color: black;
}
